@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Jost:ital,wght@0,100..900;1,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Libertinus+Serif:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Momo+Trust+Sans:wght@200..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


body{
      font-family: "Roboto", sans-serif;
}


*{
    margin: 0;
    padding: 0;

}
html, body {
    width: 100%;
    overflow-x: hidden;
}


@media (max-width: 991px) {
  .navbar-collapse {
    text-align: center;
  }

  .navbar-nav {
    align-items: center;
  }

  .navbar-nav .nav-link {
    padding: 10px 0;
  }

  form.d-flex {
    justify-content: center;
    margin-top: 15px;
  }
}

.hero-section{
    background-color: black;
}
.navbar-nav li a{
    color: white;
}
.navbar-nav li a:hover{
    color: #64CCC5;
}
.btn {
    width: 130px;
    border-radius: 50px;
}
.btn:hover{
  background-color: #64CCC5;
}
.image {
    max-width: 100%;
}


.button button{
    width: 280px;
}

.card{
    background-color: black;
     border-radius: 20px;
     
}
.service-card {

     background-color:lightgray;
     border-radius: 20px;
     border: 1px solid lightgray;
    

}


.card:hover{
  background-color: black;
  color: white;
 

}
.card h5 p:hover{
  color: white;
}



.about{
    background-color: black;
   min-height: 50vh;
    padding: 80px 0;
}
.about-cont{
    margin-top: 100px;
    


}
.about-sec{
  background-color: #000;
  padding: 100px 0px;
  border-radius: 20px;

}
.image-mission img{
  object-fit: contain;

}
.about-content li a{
  color: black;
}

.mission-head-cont{
  float: right;
}

.process-card{
  background-color: white;
}

.process-card{
  height: 250px;
 
}
.mission{
  background-color: #000;
  padding: 80px 0px;
}

.talk-content{
  background-image: url("images/Call\ to\ Action\ 3.png");
  background-repeat: no-repeat;
 background-size:cover;
 background-attachment: fixed;
 background-position: center;
 object-fit: cover;
 border-radius: 30px;
 
 

}

.fa-brands{
  font-size: 30px;
}



.footer-section {
  background-color:black ;
}

.footer-logo {
  font-weight: 700;
}

.footer-text {
  color: #bfbfbf;
  max-width: 320px;
}

.footer-title {
  margin-bottom: 15px;
}

.footer-links {
  list-style: none;
  padding: 0;
}

.footer-links li {
  color: #bfbfbf;
  margin-bottom: 8px;
  cursor: pointer;
}

.footer-links a{
  text-decoration: none;
}
.footer-links a li:hover{
  color: #64CCC5;
}

.footer-links li:hover {
  color: #ffffff;
}

.subscribe-box {
  background: #ffffff;
  border-radius: 30px;
  padding: 5px;
  display: flex;
}

.subscribe-box input {
  border: none;
  outline: none;
  flex: 1;
  padding: 10px 15px;
  border-radius: 50px;
}

.subscribe-box button {
  border: none;
  background: #000;
  color: #fff;
  /* padding: 10px 20px; */
  border-radius: 20px;
}

.footer-line {
  margin: 40px 0;
  border-color: #333;
}

.social-icons i {
  background: #fff;
  color: #000;
  /* padding: 10px; */
  border-radius: 50%;
  margin-left: 10px;
  cursor: pointer;
}
.test-contant{
    background-color: lightgray;
  min-height: 50vh;
    width: 100%;
    border-radius: 20px;
       padding: 80px 0;
}


.map-box{
  width: 100%;
  height: 400px; 
}

.map-box iframe{
  width: 100%;
  height: 100%;
  border: 0;
}

    .contact-box {
      background: #f7f7f7;
      border-radius: 16px;
      padding: 40px;
      max-width: 900px;
      margin: 80px auto;
    }

    .form-control {
      border: none;
      border-bottom: 1px solid #ddd;
      border-radius: 0;
      background: transparent;
      padding-left: 0;
    }

    .form-control:focus {
      box-shadow: none;
      border-bottom-color: #000;
    }

    .submit-btn {
      background: #111;
      color: #fff;
      border-radius: 30px;
      padding: 10px 28px;
      border: none;
    }

    .submit-btn:hover {
      background: #000;
    }